@import-normalize;

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Pavanam&display=swap');

body {
  margin: 0;
  background-color: #f5f4f0;
  font-family: 'Pavanam', sans-serif;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Pavanam', sans-serif;
}
